body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 30px;
  background: #E9F6FC;
  color: #4e5056;
}

html {
  font-size: 0.7rem;
}

h2 {
  font-size: 3rem;
  color: #4e75b9;
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

form {
  font-size: 1.4rem;
}

form .field-group {
  display: flex;
  margin: 0 0 12px 0;
}

form .field-group .label {
  flex: 1;
  text-align: right;
  margin: 0 16px 0 0;
  padding: 2px 0;
  font-weight: 500;
  font-size: 1.8rem;
}

form .field-group .field {
  flex: 3;
}

form .field-group:last-child {
  display: flex;
  justify-content: flex-end;
}

form .field-group:last-child .field {
  max-width: 75%;
}

input,
textarea {
  padding: .8rem 1rem;
  font-size: 1.6rem;
  border: solid 1px #eee;
  background: #fff;
  box-sizing: border-box;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
  border-radius: 4px;
}

input:active,
textarea:active {
  border-color: #3273dc;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, .25);
}

textarea {
  width: 100%;
}

input,
select {
  width: 50%;
}

button {
  font-weight: 500;
  font-size: 1.4rem;
  background-image: none;
  border: 2px solid transparent;
  white-space: nowrap;
  border-radius: 4px;
  padding: 13px 24px 10px;
  -webkit-transition: .3s ease-in-out background-color, .3s ease-in-out color;
  transition: .3s ease-in-out background-color, .3s ease-in-out color;
  cursor: pointer;
  background: #4e75b9;
  border-color: #4e75b9;
  color: #fff;
}

button:hover {
  box-shadow: 0px 1px 1px #888888;
}

button[disabled],
input[disabled],
textarea[disabled] {
  background-color: #a6badc;
  border-color: transparent;
  box-shadow: none;
  opacity: .7;
  cursor: not-allowed;
}

input[disabled],
textarea[disabled] {
  background-color: #f5f5f5;
}

@media (max-width: 600px) {
  input,
  select {
    width: 100%;
  }
  form .field-group {
    display: flex;
    flex-direction: column;
    margin: 0 0 6px 0;
  }
  form .field-group .label {
    text-align: left;
    padding: 0 0 5px 0;
    margin: 10px 0 0 0;
  }
}

/*  Notie CSS  */

.notie-container {
  font-size: 2.4rem;
  padding: 16px;
  height: auto;
  right: 0;
  left: 0;
  position: fixed;
  text-align: center;
  width: auto;
  z-index: 1200;
  color: white;
  box-sizing: border-box;
  -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 900px) {
  .notie-container {
    font-size: 1.8rem;
  }
}

.notie-background-success {
  background-color: #52bc76;
}

.notie-background-warning {
  background-color: #fdc02f;
}

.notie-background-error {
  background-color: #f66d6e;
}

.notie-background-info {
  background-color: #4d82d6;
}

.notie-background-neutral {
  background-color: #a0a0a0;
}

.notie-background-overlay {
  background-color: #fff;
}

.notie-overlay {
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.notie-alert {
  cursor: pointer;
}